/* Style sheet for nick tinsley homepage */
/* attributes */
body{
	background-color:white;
	background-image:url("../images/webx-bkg.png");
	background-repeat: repeat-x;

}



h1{
	color:black;
	font-family:Arial;
	text-align:right;
	
	padding-left:0px;
	padding-right:0px;
	border-bottom:solid;
}

h2{
	border-bottom: solid;
	font-size:35px;
}

nav{

	width: 150px;
	float:left;
	margin: 0;
	padding: 0;
	margin-right: 10px;

}

label{
	font-family:garamond,times-new-roman,serif;
	font-size:25px;
}


/* classes */
.container{
	background-color: #3366ff;
	padding: 5px;
	margin: 50px;
	padding-top:5px;
	padding-left:0px;
	padding-right:5px;
}

.content{
	background-color:#FFFFFF;
	margin-left:5px;
	margin-right:5px;
	padding:0px;
}

.panel {
	background: #ffffff;
    background-size:90% 90%;
    height:300px;
	display:none;
    font-family:garamond,times-new-roman,serif;
}

.panel p{
    text-align:center;
}

.footer{

	text-align:center;
	border-top-style:solid;
	border-top-width:1px;
	border-color:#660000;
	font-size: 15px;	
}

.slide{
	margin: 0;
	padding: 0;
	border-top: solid 2px #660000;
}

.pull-me{
	display:block;
    position:relative;
    right:-25px;
    width:150px;
    height:20px;
	font-family:arial,sans-serif;
    font-size:14px;
	color:#ffffff;
    background:#660000;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.pull-me p {
    text-align:center;
}

.searchResult {
	font-family:garamond, serif;
	font-size: 25px;
}

 


/* ids */

#close {
	color:red;
}

#ulNav{
	list-style-type:none;
	margin:0;
	padding:0;	
}

#aNav{
	
	display:block;
	text-align:center;
	background-repeat:no-repeat;
	background-color:#ffffff;
	color:white;
	width:68px;
	margin:8px;
	border-radius: 5px;

}
 #liNav{

 	display:inline;
 }

#pRight{
	float: right;
	margin:0px;
	padding:0px;

}

#pLeft{

	float:left;
	padding:0px;	
}

#imgRight{
	float:right;
	padding:0px;

}

#imgLeft{
	float:left;
	padding:0px;
}


<!--

.infiniteCarousel {
  width: 395px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 315px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 10em;
  margin: 0 40px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul a img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 85px;
  width: 85px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(images/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}



-->
